<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de Privacidade</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="container mt-5">
        <div class="text-center">
            <h1>Política de Privacidade</h1>
            <p>Esta Política de Privacidade descreve como coletamos, usamos e protegemos suas informações pessoais ao usar nosso aplicativo.</p>
            <h2>Informações que Coletamos</h2>
            <p>Coletamos informações pessoais que você nos fornece diretamente, como nome, endereço de e-mail e informações de pagamento.</p>
            <h2>Como Usamos Suas Informações</h2>
            <p>Usamos suas informações para fornecer e melhorar nossos serviços, processar pagamentos e comunicar com você.</p>
            <h2>Compartilhamento de Informações</h2>
            <p>Não compartilhamos suas informações pessoais com terceiros, exceto conforme necessário para fornecer nossos serviços ou conforme exigido por lei.</p>
            <h2>Segurança</h2>
            <p>Implementamos medidas de segurança para proteger suas informações pessoais contra acesso não autorizado, uso ou divulgação.</p>
            <h2>Alterações a Esta Política</h2>
            <p>Podemos atualizar esta Política de Privacidade periodicamente. Notificaremos você sobre quaisquer alterações publicando a nova política em nosso site.</p>
            <h2>Contato</h2>
            <p>Se você tiver alguma dúvida sobre esta Política de Privacidade, entre em contato conosco em contato@thinkam.net.</p>
        </div>
    </div>
</body>
</html>