<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termos de Serviço</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="container mt-5">
        <div class="text-center">
            <h1>Termos de Serviço</h1>
            <p>Estes Termos de Serviço regem o uso do nosso aplicativo. Ao usar nosso aplicativo, você concorda com estes termos.</p>
            <h2>Uso do Aplicativo</h2>
            <p>Você deve usar o aplicativo de acordo com todas as leis e regulamentos aplicáveis. Você não deve usar o aplicativo para qualquer finalidade ilegal ou não autorizada.</p>
            <h2>Conta de Usuário</h2>
            <p>Você é responsável por manter a confidencialidade das informações da sua conta e por todas as atividades que ocorrem sob sua conta.</p>
            <h2>Pagamentos</h2>
            <p>Todos os pagamentos feitos através do aplicativo são processados de forma segura. Não armazenamos informações de pagamento em nossos servidores.</p>
            <h2>Propriedade Intelectual</h2>
            <p>Todo o conteúdo do aplicativo, incluindo textos, gráficos, logotipos e imagens, é de nossa propriedade ou de nossos licenciadores e está protegido por leis de direitos autorais.</p>
            <h2>Limitação de Responsabilidade</h2>
            <p>Não seremos responsáveis por quaisquer danos indiretos, incidentais ou consequenciais decorrentes do uso ou da incapacidade de usar o aplicativo.</p>
            <h2>Alterações aos Termos</h2>
            <p>Podemos atualizar estes Termos de Serviço periodicamente. Notificaremos você sobre quaisquer alterações publicando os novos termos em nosso site.</p>
            <h2>Contato</h2>
            <p>Se você tiver alguma dúvida sobre estes Termos de Serviço, entre em contato conosco em contato@thinkam.net.</p>
        </div>
    </div>
</body>
</html>